<div id="top"  data-magellan-expedition="fixed">
    <div class="row">
        <div class="large-12 columns">
            <nav class="top-bar">
                <ul class="title-area">
                    <li class="name logo">
                        <a data-magellan-arrival="teaser-slider-2" href="#teaser-slider-2">
                            <h1 style="color: grey; align-content: center; font-size: 2.17em; margin-bottom: 0px" >VOE商用视频P2P直播系统</h1>
                        </a>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>

                <section class="top-bar-section">
                    <ul class="right" id="menu">
                        <li data-magellan-arrival="features"><a href="#features">特点</a></li>
                        <li data-magellan-arrival="product"><a href="#product">产品优势</a></li>
                        <li data-magellan-arrival="pricing"><a href="#pricing-table">价格</a></li>
                        <li data-magellan-arrival="contact"><a href="#contact">联系我们</a></li>
                    </ul>
                </section>
            </nav>
        </div>
    </div>
</div>